<div class="app-frame mat-app-background">

  <!-- <mat-toolbar color="primary">Presents</mat-toolbar> -->
  <mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center">
    <span>
      <button mat-button routerLink="/">{{title}}</button>
    </span>

    <div fxLayout="row" fxShow.gt-sm>
      <button mat-button
              *ngIf="!isAuthenticated"
              (click)="login()"
              >
        <mat-icon>login</mat-icon>
        Login
      </button>
      <button mat-button
              *ngIf="isAuthenticated"
              (click)="logout()"
              >
        <mat-icon>logout</mat-icon>
        Logout
      </button>

      <button mat-button
              *ngIf="!isAuthenticated"
              (click)="signup()"
              >
        <mat-icon>person</mat-icon>
        Signup
      </button>
    </div>
  </mat-toolbar>

  <app-present-list *ngIf="isAuthenticated"></app-present-list>
  <app-wishlist *ngIf="!isAuthenticated"></app-wishlist>
</div>
