<div *ngFor="let recipient of recipients">
  {{ recipient.recipientname }}
  <!-- {{ recipient.id }} -->

  <button mat-icon-button (click)="removeRecipient(recipient)">
    <mat-icon>delete</mat-icon>
  </button>

  <app-suggestion
      *ngFor="let sug of recipient.suggestions"
      [suggestion]="sug" (suggestionDelete)="removeSuggestion(recipient, $event)">
  </app-suggestion>

  <br/>

  <button mat-fab (click)="addSuggestion(recipient)">
    <mat-icon>add</mat-icon>
  </button>

  <hr/>

</div>

<button mat-fab (click)="addRecipient()">
  <mat-icon>person_add</mat-icon>
</button>
