<div>
  {{ suggestion.label }}
  <!-- {{ suggestion.id }} -->

  <button mat-icon-button (click)="removeSuggestion(suggestion)">
    <mat-icon>delete</mat-icon>
  </button>

  <mat-form-field appearance="fill">
    <mat-select [(ngModel)]="suggestion.status"
                  (selectionChange)="changeStatus(suggestion, $event)">
      <mat-option *ngFor="let s of statuskeys" [value]="s">
        {{ s }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div *ngFor="let url of suggestion.urls">{{ url }}</div>
</div>

<button mat-basic (click)="addUrl()">
  add url
  <!-- <mat-icon>add</mat-icon> -->
</button>
